.report-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden; /* Prevent scrolling on the whole container */
  }
  
  .report-content {
    flex: 1;
    overflow-y: auto; /* Allow scrolling only in this section */
    padding: 0 20px;
  }
  
  .report-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
  }
  